nav, #body_page, #preview-container {
    box-shadow: 8px 8px 10px rgb(128, 128, 128);
}
.background-div {
    background-image: linear-gradient(to right, lightgrey, whitesmoke);
}
#body_page {
    min-height: 675px;
}
.new-user, .remember-me, .profile-button, .button-form {
    text-align: center;
}
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
}
input[type=text], input[type=password], input[type=url] {
    border: none;
    padding: 12px 20px;
    border-bottom: 2px solid;
    width: 100%;
}
input[type=submit] {
    background-color: #0d6efd;
    width: 250px;
    padding: 8px;
    border-radius: 8px;
    color: white;
    border: none;
}

input[type=submit]:hover {
    background-color: #0d6bd6;
}

textarea {
    white-space: pre-line;
    padding: 12px 20px;
    border-bottom: 2px solid;
    width: 100%;
}
.formatting-buttons {
    float: right;
}
#profile-form, #body_page, .text-block, .index-image {
    border-radius: 8px;
}
.index {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.index-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.index .text-block {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.index-image-bottom {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.explore-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.index-image:hover, .explore:hover {
    filter: opacity(50%);
}

#image-link-first, #image-link-second {
    position: relative;
}
.text-anchor {
    color: black;
    text-decoration: none;
}
.text-link:hover {
    text-decoration: underline;
}
.button-right {
    float: right;
}
.profile-avatar {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 25%;
    object-fit: cover;
}
.card-text, .article-body, .post_body {
    white-space: pre-line;
}
.head_image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}