{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <hr>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-5">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.title.label }}<br/>
                    {{ form.title(id='article-title', rows=1) }}
                </p>
                {% for error in form.title.errors %}
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-7">
                <p>
                    {{ form.subtitle.label }}<br/>
                    {{ form.subtitle(id='article-subtitle',rows=1) }}
                </p>
                {% for error in form.subtitle.errors %}
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    {{ form.body.label }}
                    <span class="formatting-buttons">
                        <button type="button" class="btn btn-light" id="bold" onclick="textFormatting('bold')"><i class="bi bi-type-bold"></i></button>
                        <button type="button" class="btn btn-light" onclick="textFormatting('italic')"><i class="bi bi-type-italic" id="italic"></i></button>
                        <button type="button" class="btn btn-light" onclick="textFormatting('underline')"><i class="bi bi-type-underline" id="underline"></i></button>
                    </span>
                    {{ form.body(id='article-body', rows=10) }}
                </p>
                {% for error in form.body.errors %}
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    {{ form.head_img.label }}
                </p>
            </div>
        </div>
        <!-- Il radio button è gestito tramite script e non dal server, che si occuperà invece di gestire eventualmente l'upload del file o la URL diretta.
        Di seguito si combina un normale form HTML con i Flask For: la condizione if form.validate_on_submit() renderebbe la gestione del form seguente
        un po' più complessa da gestire -->
        <div class="row">
            <div class="col-sm-6" >
                <div class="form-check">
                    <label class="form-check-label" for="radio1">Scegli immagine dal PC (in formato png o jpeg)</label>
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"
                           onchange="changeState('radio1', 'radio2', 'image-file', 'image-url')">
                </div><br>
                <p>
                    <input id='image-file' type="file" name="filename" accept="image/png, image/jpeg" disabled>
                </p><br/>
            </div>
            <div class="col-sm-6">
                <div class="form-check">
                    <label class="form-check-label" for="radio2">Inserisci URL immagine</label>
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"
                           onchange="changeState('radio1', 'radio2', 'image-file', 'image-url')">
                </div><br>
                 <p>
                     {{ form.head_img(id='image-url', disabled=True) }}
                </p><br/>
                {% for error in form.head_img.errors %}
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                    {% endfor %}
            </div>
        </div>
            <p class="button-form">
                {{ form.submit() }}
                <button type="button" class="btn btn-outline-primary" style="width: 250px"
                        onclick="showPreview(
                                '{{ form.title.data }}', '{{ form.subtitle.data }}', '{{ form.body.subtitle }}'
                                )">
                    Anteprima
                </button>
            </p>
    </form>
{% endblock %}

{% block article_preview %}
    <div class="row">
        <div class="col-sm-3">
            <h2>Autore</h2>
            <div class="card" style="width:100%">
                <img class="card-img-top" src="{{ user.avatar(200) }}" alt="avatar">
                <div class="card-body">
                    <h4 class="card-title">{{ user.username }}</h4>
                    <p class="card-text">{{ user.about_me }}</p>
                    <p class="profile-button">
                        <a href="{{ url_for('user', username=user.username) }}" class="btn btn-primary">
                            Visualizza Profilo
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <h2 id="title-preview"></h2>
            <p><i id="subtitle-preview"></i></p>
            <hr>
            <p style="text-align: right" id="data-preview"></p>
            <hr>
            <img class="head_image" src="" alt="head_img" id="img-preview" onerror="fallBackIMG(this)"/><br><br>
            <!-- con safe si dichara possibile e sicuro interpretare codice: con questo si interpreteranno i codici di formattazione html -->
            <p class="article-body" id="body-preview"></p>
        </div>
    </div>
{% endblock %}