{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="{{ current_user.avatar(200) }}" alt="avatar" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{ current_user.username }}</h4>
                    <p class="card-text">{{ current_user.about_me }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5 p-5 my-h border" id="profile-form">
            <form action="" method="post">
               <!-- Il form.hidden_tag() è un argomento che genera un field nascosto, il quale include
                un token che è utilizzato per proteggere il form contro attacchi CSFR. -->
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}:<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                        <div class="alert alert-warning">
                                <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password1.label }}:<br>
                    {{ form.password1(size=32) }}<br>
                    {% for error in form.password.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                        <div class="alert alert-warning">
                                <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}:<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                        <div class="alert alert-warning">
                                <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </p>
                <p class="submit-form">{{ form.submit() }}</p>
            </form>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
{% endblock %}