{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <hr>
    {% with messages = get_flashed_messages() %}  <!-- ottiene messaggio inviato dal serve col metodo flash -->
        {% if messages %} <!-- controlla che vi siano messaggi -->
            {% for message in messages %}
                <div class="alert alert-info">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="{{ current_user.avatar(200) }}" alt="avatar" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{ current_user.username }}</h4>
                    <p class="card-text">{{ current_user.about_me }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-9 p-5 my-h border" id="profile-form">
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                {% for error in form.username.errors %}
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
                <p>
                    {{ form.avatar_link.label }}<br>
                </p>
                <div class="form-check">
                    <label class="form-check-label" for="radio1"></label>
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"
                           onchange="changeState('radio1', 'radio2', 'image-file', 'image-url')">
                        Scegli immagine dal PC (in formato png o jpeg)<br><br>
                        <p>
                            <input id='image-file' type="file" name="filename" accept="image/png, image/jpeg" disabled>
                        </p><br/>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="radio2"></label>
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"
                           onchange="changeState('radio1', 'radio2', 'image-file', 'image-url')">
                        Inserisci URL immagine<br><br>
                    <p>
                        {{ form.avatar_link(id='image-url', disabled=True, type='url') }}
                    </p>
                    {% for error in form.avatar_link.errors %}
                        <div class="alert alert-warning">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}<br>
                </div>
                <p>
                    {{ form.about_me.label }}<br/>
                    {{ form.about_me(rows=6) }}
                </p>
                {% for error in form.about_me.errors %}
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
                <p class="submit-form">{{ form.submit() }}</p>
            </form><br>
            <div class="profile-button">
                <a href="{{ url_for('edit_password') }}" class="btn btn-outline-primary">Modifica password</a><br><br>
                <button type="button" class="btn btn-outline-danger" onclick="alertDeletingProfile()">Elimina account</button>
            </div>
        </div>
    </div>
{% endblock %}