{% extends "base.html" %}

{% block app_content %}
    <h3>Esplora</h3>
    <hr>
    <div class="row">
        <div class="col-sm-1 pt-5"></div>
        <div class="col-sm-6 pt-5">
            <table class="table-responsive">
                <tr>
                    <td>
                        {% for article in first_col %}
                            <table class="table">
                                <tr>
                                    <td style="width: 200px; height: 140px">
                                        <a href="{{ url_for('published', article_title=article.title) }}">
                                            <img class="explore-image" src="{{ article.head_image() }}" alt="explore-image" onerror="fallBackIMG(this)">
                                        </a>
                                    </td>
                                    <td style="position: relative">
                                        <h5 class="text-link">
                                            <a class="text-anchor" href="{{ url_for('published', article_title=article.title) }}">
                                                {{ article.title }}
                                            </a>
                                        </h5>
                                        <p style="display: inline">Pubblicato da: </p>
                                        <p class="text-link" style="display: inline">
                                            <a class="btn btn-light" href="{{ url_for('user', username=article.author) }}">
                                                <strong>{{ article.author }}</strong>
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3 pt-5">
            <table class="table-responsive">
                <tr>
                    <td>
                        {% for article in second_col %}
                            <table class="table">
                                <tr>
                                    <td>
                                        <h5 class="text-link">
                                            <a class="text-anchor" href="{{ url_for('published', article_title=article.title) }}">
                                                {{ article.title }}
                                            </a>
                                        </h5>
                                        <p style="display: inline">Pubblicato da: </p>
                                        <p class="text-link" style="display: inline">
                                        <a class="btn btn-light" href="{{ url_for('user', username=article.author) }}">
                                            <strong>{{ article.author }}</strong>
                                        </a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2 pt-5"></div>
    </div>
    {% if next_url and prev_url %}
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="{{ next_url }}">Meno recenti</a></li>
            <li class="page-item"><a class="page-link" href="{{ prev_url }}">Più recenti</a></li>
        </ul>
    {% elif next_url %}
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="{{ next_url }}">Meno recenti</a></li>
            <li class="page-item disabled"><a class="page-link" href="{{ prev_url }}">Più recenti</a></li>
        </ul>
    {% elif prev_url %}
        <ul class="pagination justify-content-end">
            <li class="page-item disabled"><a class="page-link" href="{{ next_url }}">Meno recenti</a></li>
            <li class="page-item"><a class="page-link" href="{{ prev_url }}">Più recenti</a></li>
        </ul>
    {% endif %}

{% endblock %}