{% extends "base.html" %}

{% block app_content %}
    {% with messages = get_flashed_messages() %}  <!-- ottiene messaggio inviato dal server col metodo flash -->
        {% if messages %} <!-- controlla che vi siano messaggi -->
            {% for message in messages %}
                <div class="alert alert-info">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3>Home</h3>
    <hr>
    <div class="row">
        {% for article in first_row %}
            <div class="col-sm-6 pt-5" id="image-link-first">
                <a class="text-anchor" href="{{ url_for('published', article_title=article.title) }}">
                    <div class="index">
                        <img class="index-image" src="{{ article.head_image() }}" alt="index-image">
                        <div class="text-block">
                            <h3 class="text-link">{{ article.title }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for article in second_row %}
            <div class="col-sm-4 pt-5" id="image-link-second">
                <a class="text-anchor" href="{{ url_for('published', article_title=article.title) }}">
                    <div class="index">
                        <img class="index-image" src="{{ article.head_image() }}" alt="index-image">
                        <div class="text-block">
                            <h5 class="text-link">{{ article.title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        {% for article in third_row %}
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <td style="width: 150px">
                            <a href="{{ article.head_image() }}">
                                <img class="index-image-bottom" src="{{ article.head_image() }}" alt="index-image-bottom">
                            </a>
                        </td>
                        <!-- relative è necessario per posizionare la citazione dell'autore dove si desidera -->
                        <td style="position: relative">
                            <h5 class="text-link">
                                <a class="text-anchor" href="{{ url_for('published', article_title=article.title) }}">
                                    {{ article.title }}
                                </a>
                            </h5>
                            <span class="author-text-table">
                                <span>Pubblicato da: </span>
                                <span class="text-link">
                                    <a class="btn btn-light" href="{{ url_for('user', username=article.author) }}">
                                        <strong>{{ article.author }}</strong>
                                    </a>
                                </span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>

{% endblock %}