{% extends "base.html" %}
{% block app_content %}
    <div class="row">
        <div class="col-sm-4 p-5 my-5">
            {% with messages = get_flashed_messages() %}  <!-- ottiene messaggio inviato dal serve col metodo flash -->
                {% if messages %} <!-- controlla che vi siano messaggi -->
                    {% for message in messages %}
                        <div class="alert alert-info">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-sm-4 p-5 my-5 border" id="access-form">
            <h1 style="text-align: center">{{ title }}</h1>
            <hr>
            <form action="" method="post">
               <!-- Il form.hidden_tag() è un argomento che genera un field nascosto, il quale include
                un token che è utilizzato per proteggere il form contro attacchi CSFR. -->
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}:<br>
                    {{ form.username(size=32) }}<br>
                </p>
                {% for error in form.username.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
                <p>
                    {{ form.password.label }}:<br>
                    {{ form.password(size=32) }}<br>
                </p>
                {% for error in form.password.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                    <div class="alert alert-warning">
                            <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
                <p class="remember-me">
                    {{ form.remember_me.label }}
                    {{ form.remember_me() }}
                </p>
                <p class="button-form">{{ form.submit() }}</p>
            </form>
            <p class="new-user">Nuovo utente? <a href="{{ url_for('register') }}">Registrati</a></p>
            <p class="new-user"><a href="{{ url_for('reset_password') }}">Password dimenticata?</a></p>
        </div>
        <div class="col-sm-4 p-5 my-5">
        </div>
    </div>
{% endblock %}