{% extends "base.html" %}
{% block app_content %}
    <div class="row">
        <div class="col-sm-4">
            {% with messages = get_flashed_messages() %}  <!-- ottiene messaggio inviato dal serve col metodo flash -->
                {% if messages %} <!-- controlla che vi siano messaggi -->
                    {% for message in messages %}
                        <div class="alert alert-info">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    <div class="col-sm-4 p-5 my-5 border" id="access-form">
        <h1 style="text-align: center">{{ title }}</h1>
        <hr>
            <form action="" method="post">
               <!-- Il form.hidden_tag() è un argomento che genera un field nascosto, il quale include
                un token che è utilizzato per proteggere il form contro attacchi CSFR. -->
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                </p>
                {% for error in form.username.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                </p>
                {% for error in form.email.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
                <p>
                    {{ form.password1.label }}<br>
                    {{ form.password1(size=32) }}<br>
                </p>
                {% for error in form.password1.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                </p>
                {% for error in form.password2.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                    <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}<br>
                <p class="button-form">{{ form.submit() }}</p>
            </form>
        </div>
        <div class="col-sm-4 p-5 my-5">
        </div>
    </div>
{% endblock %}