{% extends "base.html" %}
{% block app_content %}
    <div class="row">
        <div class="col-sm-4 p-5 my-5">
        </div>
        <div class="col-sm-4 p-5 my-5 border" id="access-form">
            <h1 style="text-align: center">{{ title }}</h1>
            <hr>
            <p>Inserire l'indirizzo email con il quale ci si è registrati.</p>
            <br>
            <form action="" method="post">
           <!-- Il form.hidden_tag() è un argomento che genera un field nascosto, il quale include
            un token che è utilizzato per proteggere il form contro attacchi CSFR. -->
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}:<br>
                {{ form.email(size=32) }}<br>
            </p>
            {% for error in form.email.errors %} <!-- Flask gestisce in automatio gli errori, basta aggiungere il codice HTML opportuno, come segue -->
                <div class="alert alert-warning">
                        <strong>{{ error }}</strong>
                </div>
            {% endfor %}
            <p class="button-form">{{ form.submit() }}</p>
            </form>
        </div>
        <div class="col-sm-4 p-5 my-5">
        </div>
    </div>
{% endblock %}